<!DOCTYPE html>
<html lang="en">



<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - AL KHOR SEWERAGE EXTENSION TO AL KHOR SEWAGE TREATMENT WORKS (STW) PHASE 2 – CP 517/1</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		  <!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us" >ABOUT US</a>
								 
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>


	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page" style="background: rgba(0, 0, 0, 0.26);">AL KHOR SEWERAGE EXTENSION TO AL KHOR SEWAGE TREATMENT WORKS (STW) PHASE 2 – CP 517/1</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="section why overlap" style="margin-top: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-md-push-8">
					<div class="widget info-detail">
						<div class="widget-title">
							Project Details
						</div>
						<dl>
							<dt>Start Date :</dt>
							<dd>23 Sept 2012</dd>
							<dt>Completion Date :</dt>
							<dd>04 Dec 2014</dd>
							<dt>Contract Value :</dt>
							<dd>QR. 130,781,372.45  </dd>
							<dt>Client :</dt>
							<dd>Public Works Authority (Ashghal)</dd>
							
						</dl>
					</div>
					<div class="widget categories">
						<ul class="category-nav">
							<li><a href="/projects-gallery">Projects</a></li>
						</ul>
					</div>

					<div class="widget contact-info-sidebar">
						<div class="widget-title">
							Contact Info
						</div>
						<ul class="list-info">
							<li>
								<div class="info-icon">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="info-text">6th Floor, Al Mana Plaza, Qatari Bin Fujaah St, Bin Mahmoud . PO Box 7098, Doha Qatar</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">+974 4419 0333</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-fax"></span>
								</div>
								<div class="info-text">+974 4441 8249</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Info@Petroserv-limited.com</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-sm-8 col-md-8 col-md-pull-4">
					<div class="single-page">
						<div id="caro" class="owl-carousel owl-theme">
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/1.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/2.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/3.png" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/4.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/5.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/6.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/7.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/8.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/9.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/10.png" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/11.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/12.jpg" alt="">
							</div>
							<div class="item">
								<img src="images/projects/AL-KHOR-SEWERAGE/13.jpg" alt="">
							</div>

						</div>
						<div class="margin-bottom-30"></div>
						<h2 class="section-heading">
							Description of Project
						</h2>

					<p>The Project comprises the design and construction of extensions (named phase II) to the Al Khor phase I Sewage Treatment Works as described below in the form of a single turnkey package deliverable.</p>
					<p>The Works shall comprise the preliminary and detailed design, construction, commissioning, operation and maintenance of the extension to the phase 1 Sewage Treatment Works. as detailed within these tender documents. The Works shall include, but not be limited to the preliminary and detailed, design, construction, and commissioning of the :</p>
						<ul class="checklist">
							<li>New to construct septage reception facilities.</li>
							<li>Upgrade to existing inlet works comprising flow measurement and screening, and grit removal equipment</li>
							<li>Upgrade to existing flow distribution and convergence chambers.</li>
							<li>Upgrade to existing flow distribution and convergence chambers.</li>
							<li>Blowers, aeration diffusers and all associated piping for the proposed Sequencing Batch Reactor systems.</li>
							<li>New to construct flow balancing facilities.</li>
							<li>New to construct tertiary treatment plant pumping station.</li>
							<li>New to construct tertiary treatment plant.</li>
							<li>Modifications to existing pipe work</li>
							<li>New to construct effluent disinfection facilities.</li>
							<li>New to construct effluent storage facilities.</li>
							<li>New to construct effluent lagoons.</li>
							<li>New to construct phosphate removal system</li>
							<li>Upgrade to existing final effluent pumping station.</li>
							<li>New to construct sludge storage, sludge thickening, sludge dewatering and sludge digestion facilities.</li>
							<li>New to construct septage reception pumping station.</li>
							<li>Modifications to existing works return pumping station.</li>
							<li>Upgrade to existing to existing Works wash water system.</li>
							<li>New to construct effluent lagoon pumping station</li>
							<li>New to construct odour control facilities as required.</li>
							<li>New to construct rising mains connections, inter connecting pipe work, ducting, flooring, platforms and hand railing.</li>
							<li>Restoration to landscaping and an irrigation system.</li>
							<li>New to construct associated buildings and structures.</li>
							<li>New to construct access roads and pathways.</li>
							<li>Capsular type FM-200 fire fighting system in existing and proposed MCCs</li>
							<li>Power supplies including MCCs, transformer, high voltage switch gear and  standby generation.</li>
							<li>SCADA/PLC system for new works and integration with existing PLC and SCADA.</li>
							<li>Operation & Maintenance of STP for 10 Years</li>
						</ul>
						
					</div>
				</div>
				

			</div>
		</div>
	</div>



	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>

	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	<script type="text/javascript" src="js/script.js"></script>

</body>



</html>