<!DOCTYPE html>
<html lang="en">



<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - Electro-mechanical</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>


	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us">ABOUT US</a>
								 
							</li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
						<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>


	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page" style="background: rgba(0, 0, 0, 0.26);">Electro-mechanical</div>
					<ol class="breadcrumb" style="background: rgba(0, 0, 0, 0.26);">
						<li><a>Services</a></li>
						<li class="active">Building & Civil Infrastructure Business Unit</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="section why overlap">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-md-push-8">

					<div class="widget categories">
						<ul class="category-nav">
							<li class="active"><a href="#">Electro-mechanical</a></li>
							<li><a href="Industrial Civil.html">Industrial Civil</a></li>
							<li><a href="Reticulation Networks.html">Reticulation Networks</a></li>
							<li><a href="Wastewater Treatment.html">Wastewater Treatment</a></li>
							<li><a href="Pumping Station.html">Pumping Stations</a></li>
							<li><a href="Reservoirs and Tanks.html">Reservoirs and Tanks</a></li>
						</ul>
					</div>

					<div class="widget contact-info-sidebar">
						<div class="widget-title">
							Contact Info
						</div>
						<ul class="list-info">
							<li>
								<div class="info-icon">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="info-text">6th Floor, Al Mana Plaza, Qatari Bin Fujaah St, Bin Mahmoud . PO Box 7098, Doha Qatar</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">+974 4419 0333</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-fax"></span>
								</div>
								<div class="info-text">+974 4441 8249</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Info@Petroserv-limited.com</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-sm-8 col-md-8 col-md-pull-4">
					<div class="single-page">
						<img src="images/electromech.jpg" alt="Electro-mechanical" class="img-responsive">
						<div class="margin-bottom-30"></div>
						<h2 class="section-heading">
							Electro-mechanical
						</h2>
						<p>With its origins in the Oil and Gas business, PETROSERV's has developed an electro-mechanical business dedicated to infrastructure works that undertakes full electro-mechanical works for pumping stations, substations and electrical distribution
							works.
						</p>
						<p>Our clients include Ashghal (Public Works Authority), Kahramaa (Qatar General Electricity and Water Corporation) and the Private Engineering Office.</p>
						<h5>Our portfolio of projects include:</h5>
						<ul class="checklist">
							<li>Upgrading of Umm Slal Water Station: Design, construct and commission new pumping station at existing site to supply distribution network; including 4 No 450 l/s VFD pumps and all supporting electro-mechanical works</li>
							<li>Refurbishing and Upgrading Works at Various Pumping Stations (Phase – 8): Refurbishment of 3 pumping stations:
								<ul class="bull" style="    margin-top: inherit;    margin-left: 49px;">
									<li>PS 17: 250 l/s 2 km 450 dia. DI forced main</li>
									<li>PS W1: 840 l/s 8.0 km of twin and 3.5 km of triple 500 dia. DI forced main, total pipework length of 26.5 km.</li>
									<li>PS 40: 1,000 l/s</li>
								</ul>
							</li>


							<li>Development of Barzan Camp Phase 2 – Package 5 Infrastructure: Construction of site infrastructure; including: HV distribution, street lighting, low voltage, BMS and fire alarm networks, sub-stations, fire station, vacuum sewer networks and plant
								room and underground water tank and pumping station.</li>

						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>




		<!-- FOOTER SECTION -->
	<%- include footer.ejs %>
	

	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 

	<script type="text/javascript" src="js/script.js"></script>

</body>



</html>
