<!DOCTYPE html>
<html lang="en">


<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - Environment</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="/">HOME</a>
							</li>
							<li>
							 
								<a href="/about-us" >ABOUT US</a>
								 
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
											<ul class="dropdown-menu">
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li class="dropdown active">
								<a href="#">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page">Environment</div>

				</div>
			</div>
		</div>
	</div>
	<!-- ABOUT FEATURE -->
	<div class="section feature overlap">
		<div class="container">
			<div class="row">


				<div class="col-sm-6 col-md-6">
					<h3>SAFETY, HEALTH AND QUALITY</h3>
					<p>We are committed to our responsibilities in respect of safety, health and quality, which are an integral part of the way we conduct ourselves. To ensure that these elements are part of the way that we do business, we at Petroserv develop, implement
						and maintain systems for safety, health and work quality that are consistent with internationally recognised standards which enable us to achieve the following:</p>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="media"><img src="images/envir-qhs.png" class="img-responsive" alt="environment"></div>
				</div>

				<div class="clearfix"></div>


				<div class="col-sm-12 col-md-12">
					<h2 class="section-heading">
						HEALTH
					</h2>
					<div class="history-2">
						<div class="timeline__item">
			<!--				<div class="media"><img src="images/health.png" class="img-responsive" alt="health"></div>
							<div class="aksen"></div>-->
							<div class="text">
								<p>
									Recognise that all employees have a vital role to play in the achievement of the company goals and objectives. Recognise that all employees want to be a vital part of a successful team. Create a business environment within PETROSERV that allows all employees
									to become productive team members as quickly as possible. Allow all employees to realise their true potential without compromising the objectives of PETROSERV or marginalising minorities
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12">
					<h2 class="section-heading">
						QUALITY
					</h2>
					<div class="history-2">
						<div class="timeline__item">


							<div class="text">
								<p>PETROSERV has adopted the international ISO 9001 standard quality system model for quality assurance in design, development, production, installation and servicing as its standard for quality assurance. PETROSERV is committed to the delivery of
									quality products and services in full compliance with its contractual requirements. PETROSERV is committed to continuous improvements of its products, processes, systems and service; this to ensure “Right First Time” delivery. PETROSERV urges
									all employees to participate in achieving its stated objectives, as the effective implementation of a quality management system is the responsibility of all employees.</p>

								<div class="title">Responsibility and Accountability</div>
								<p>
									While we hold our leaders accountable for the safety of our people and expect our managers and supervisors to provide effective leadership in safety, health and quality, we expect all individuals to be responsible for their own safety and the safety of
									others. Management of every division is responsible for the full implementation of safety, health and quality management systems. This requires the allocation of appropriate resources and the provision of training, education, consultation, audits
									and monitoring to ensure compliance.
								</p>
								<p>In implementing this policy, we commit to open honest communication with our employees and other stakeholders to encourage a culture that reflects the intent of this policy. We regularly review our performance, report on our progress and ensure
									that this policy remains relevant to the needs of stakeholders, and PETROSERV’s standards.
								</p>
							</div>
<!--
							<div class="aksen"></div>
							<div class="media"><img src="images/quality.png" class="img-responsive" alt="quality"></div>
						--></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12">
					<h2 class="section-heading">
						SAFETY
					</h2>
					<div class="history-2">
						<div class="timeline__item">
						<!--	<div class="media"><img src="images/safety.png" class="img-responsive" alt="safety"></div>
						-->
							<div class="text">
								<ul class="checklist"  style="margin-left: 40px;">
									<li>Entrench safety as a value for our people which will not be compromised</li>
									<li>Identify, assess and manage risks to employees, contractors, service providers and other stakeholders</li>
									<li>Strive to achieve industry best practice</li>
									<li>Comply with legislation and where appropriate, exceed applicable legal and other requirements</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>

	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 

	<script type="text/javascript" src="js/script.js"></script>

</body>



</html>
