<div class="footer">

	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="footer-item">
					<img src="/images/LogoB.png" alt="logo bottom" class="logo-bottom">
					<p>
						PETROSERV is an ISO 9001: 2015, ISO 14001: 2015 and OHSAS 18001: 2007 Certified Company which offers a diverse range of engineering and construction services in its three main areas of activity, namely Civil Infrastructure, Mechanical & Electrical and Building.
					</p>
					<div class="footer-sosmed">
					
						<a href="https://www.linkedin.com/company-beta/1444546/" target="_blank" title="">
							<div class="item">
								<i class="fa fa-linkedin"></i>
							</div>
						</a>
						<a href="https://twitter.com/Petroserv_Ltd" target="_blank" title="">
							<div class="item">
								<i class="fa fa-twitter"></i>
							</div>
						</a>
						<a href="https://www.youtube.com/channel/UCw0GYOSvypThlbnmgYffXNQ" target="_blank" title="">
							<div class="item">
								<i class="fa fa-youtube"></i>
							</div>
						</a>
						
						</div>
					</div>
				</div>


				<div class="col-sm-3 col-md-3">
					<div class="footer-item">
						<div class="footer-title">
							Our Projects
						</div>
						<ul class="list">
							<li><a href="/Sheet-Seals-NGL-Plant" title="">Seals NGL Plant</a></li>
							<li><a href="/Sheet-Dukhan-STP" title="">Dukhan STP</a></li>
							<li><a href="/Sheet-Dukhan-TSE" title="">Dukhan TSE</a></li>
							<li><a href="/Sheet-Ain-Khalid-Ground-Water" title="">Ain Khalid Ground Water</a></li>
							<li><a href="/Sheet-Azizia-Drainage" title="">Azizia Drainage</a></li>
							<li><a href="/Sheet-Burn-Pits" title="">Burn Pits</a></li>
							<li><a href="/Sheet-Umm-Slal" title="">Umm Salal</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="footer-item">
						<div class="footer-title">
							Our Services
						</div>
						<ul class="list">
						<li><a href="/oil-and-gas-business-unit" title="Oil & Gas Business Unit">Oil & Gas Business Unit</a></li>
							<li><a href="/building-and-civil-infrastructure-business-unit" title="Building & Civil Infrastructure Business Unit">Building & Civil Infrastructure Business Unit</a></li>
							<li><a href="/MEP-facility-management-business-unit" title="MEP & Facility Management Business Unit">MEP & Facility Management Business Unit</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="ftex">&copy; 2017 Petroserv by <a href="http://kawami.io/" target="_blank">Kawami</a> - All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>

</div>