<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petroserv - Limited</title>

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- ==============================================
    CSS VENDOR
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/magnific-popup.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script type="text/javascript" src="/js/vendor/modernizr.min.js"></script>

</head>

<body>
    <!-- Load page -->
    <div class="animationload">

        <div class="spinner">
            <img id="logo-spinner" src="/images/logo-load.png"></img>
        </div>
    </div>

    <!-- BACK TO TOP SECTION -->
    <a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>
   
   <!-- HEADER SECTION -->
    <%- include header.ejs %>

    <!-- NAVBAR SECTION -->
    <div id="#top" class="navbar navbar-main">

        <div class="container container-nav">
            <div class="rowe">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <a class="navbar-brand " href="/">
                    <img src="images/Logo.png"  alt="" />
                </a>


                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown active">
                            <a href="#">HOME</a>
                        </li>
                        <li>

                            <a href="/about-us">ABOUT US</a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
                                <li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
                                <li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/environment">ENVIRONMENT </a>
                        </li>
                        <li>
                            <a href="/clients">CLIENTS </a>
                        </li>
                        <li>
                            <a href="/projects-gallery">PROJECTS GALLERY</a>
                        </li>
                        <li>
                            <a href="/careers">CAREERS</a>

                        </li>
                        <li>
                            <a href="/contact-us">CONTACT US</a>
                        </li>

                    </ul>



                </nav>

            </div>
        </div>
    </div>

</div>

<!-- BANNER -->
<div id="slides" class="section banner">

    <ul class="slides-container">

        <li>
            <img src="images/slide-3.jpg" alt="">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        Divisional synergy to create sustainable value.
                    </h2>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                </div>

            </div>
        </li>
        <li>
            <img src="images/gallery-projects/infrastructure/12.jpg" alt="">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        We have the experience and expertise to meet the design and quality needs of any client.
                    </h2>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <!--            <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>-->

                </div>
            </div>
        </li>
        <li>
            <img src="images/gallery-projects/building/3.jpg" alt="">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        We deliver quality work, on time, to the complete satisfaction of clients.
                    </h2>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <!--<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>-->

                </div>
            </div>
        </li>

    </ul>



    <nav class="slides-navigation">
        <div class="container">
            <a href="#" class="next">
                <i class="fa fa-chevron-right"></i>
            </a>
            <a href="#" class="prev">
                <i class="fa fa-chevron-left"></i>
            </a>

            <div style="margin-left: 58px;" >
             <button onclick="window.location.href='/about-us'" class="btn btn-primary" title="LEARN MORE">ABOUT US</button> 
             <button onclick="window.location.href='/contact-us'" class="btn btn-secondary" title="CONTACT US">CONTACT US</button>
         </div>


     </div>
 </nav>


</div>


<!-- ABOUT FEATURE -->
<div class="section feature overlap">
    <div class="container">


        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading">
                    AT A GLANCE
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7 col-md-7">
                <p class="lead">PETROSERV is an ISO 9001: 2015, ISO 14001: 2015 and OHSAS 18001: 2007 Certified Company that offers a diverse range of engineering and construction services in its three main areas of activity, namely Infrastructure, Oil and Gas and Building.</p>
                <p>PETROSERV, a wholly owned Qatari company, is one of the leading EPIC contractors in the State of Qatar. Existing since 1978, Petroserv has an enviable, proven track record with a large variety of Qatari and international clients; including:
                    Ashghal (Public Works Authority), Kahramaa (Qatar General Electricity and Water Corporation) , Qatar Petroleum (QP), Private Engineering Office (PEO), Qatar Steel, Qatar Gas, Qatar Armed Forces, Mannesmann Demag, Gencor Beverley, Siemens Vai Pomini,
                    FCB and CCIC, Hyundai and Iberdtola.</p>
                </div>

                <div class="col-sm-5 col-md-5">
                    <div id="caro" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="images/8.jpg" alt="oil & gas">
                        </div>
                        <div class="item">
                            <img src="images/gallery-projects/building/4.jpg" alt="Building & MEP">
                        </div>
                        <div class="item">
                            <img src="images/gallery-projects/infrastructure/13.jpg" alt="civil infrastructure">
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

    <!-- ABOUT COMPANY -->
    <div class="section why section-border bglight">
        <div class="container">
            <div class="row">

                <div class="col-sm-5 col-md-5">
                    <div class="director-image">

                        <img src="images/director.jpg" alt="bos-photo">
                    </div>
                    <div class="margin-bottom-30"></div>
                </div>
                <div class="col-sm-7 col-md-7">
                    <h3 class="director-title">Barry Miles</h3>
                    <div class="director-position">Managing Director</div>
                    <div class="margin-bottom-30"></div>
                    <blockquote style="    font-style: normal !important;">
                        <p>Construction is a business where success is measured by the ability to complete projects on time and within budgets. At Petroserv Limited, our projects execution is based on specific set of behaviors and techniques that were mastered over the years
                            resulting in a competitive market advantage and edge. Established in 1978, Peteroserv limited is one of the leading EPIC Contractors in Qatar with activities that include but not limited to Oil & Gas as well as Civil Infrastructure. We execute
                            projects in petrochemical, Oil & Gas facilities, shutdowns, buildings, commercial, infrastructure and water / sewage treatment.</p>
                            <p>At Petroserv, our success is strongly attributed to the quality of services we provide and the level of client satisfaction being achieved. Our prime purpose is supplying, delivering, and managing projects with ensuring quality and timely completion,
                                whilst having zero harm to everyone, public assets and the environment.</p>
                                <p>We look forward to the future prospects of what the industry holds as we are geared up to the challenges ahead. We see our goalposts in the horizon and we are heading towards them.</p>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PROJECTS -->
            <div class="section project">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h2 class="section-heading white">
                                PROJECTS
                            </h2>
                        </div>
                    </div>
                    <div class="row grid-services">
                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Dukhan-STP" title="Project Sheet Dukhan STP">
                                    <div class="media">
                                        <img src="images/projects/project2.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Dukhan STP</h4>
                                            <span class="category">Qatar Petroleum</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Dukhan-TSE" title="Project Sheet Dukhan TSE">
                                    <div class="media">
                                        <img src="images/projects/project3.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Dukhan TSE</h4>
                                            <span class="category">Qatar Petroleum</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Burn-Pits" title="Project Sheet Burn Pits">
                                    <div class="media">
                                        <img src="images/projects/project6.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Burn Pits</h4>
                                            <span class="category">Qatar Petroleum</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Azizia-Drainage" title="Project Sheet Azizia Drainage">
                                    <div class="media">
                                        <img src="images/projects/project5.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Azizia Drainage</h4>
                                            <span class="category">Public Works Authority -Ashghal</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>



                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Ain-Khalid-Ground-Water" title="Project Sheet Ain Khalid Ground Water">
                                    <div class="media">
                                        <img src="images/projects/project4.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Ain Khalid Ground Water</h4>
                                            <span class="category">Public Works Authority -Ashghal </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="box-image-4">
                                <a href="/Sheet-Umm-Slal" title="Project Sheet Umm Salal">
                                    <div class="media">
                                        <img src="images/projects/project7.png" alt="" class="img-responsive">
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <h4 class="title">Project Sheet Umm Salal</h4>
                                            <span class="category">Qatar General Electricity & Water Corporation -Kahramaa</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SERVICES -->
            <div class="section services">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h2 class="section-heading">
                                SERVICES
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <!-- BOX 1 -->
                            <div class="feature-box-8 equalbox " id="element1">
                                <div class="media">
                                    <img src="images/Infrastructure.png" alt="Infrastructure" class="img-responsive">
                                </div>
                                <div class="body">
                                    <div class="icon-holder">
                                        <span class="fa fa-cubes"></span>
                                    </div>
                                    <a href="/building-and-civil-infrastructure-business-unit" class="title">Building & Civil Infrastructure Business Unit</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- BOX 1 -->
                            <div class="feature-box-8 equalbox" id="element2">
                                <div class="media">
                                    <img src="images/oil-factory.png" alt="Oil and Gas" class="img-responsive">
                                </div>
                                <div class="body">
                                    <div class="icon-holder">
                                        <span class="fa fa-fire"></span>
                                    </div>
                                    <a href="/oil-and-gas-business-unit" class="title">Oil & Gas Business Unit</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- BOX 1 -->
                            <div class="feature-box-8 equalbox" id="element3">
                                <div class="media">
                                    <img src="images/Building.png" alt="Building" class="img-responsive">
                                </div>
                                <div class="body">
                                    <div class="icon-holder">
                                        <span class="fa fa-building"></span>
                                    </div>
                                    <a href="/MEP-facility-management-business-unit" class="title">MEP & Facility Management Business Unit</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- CTA -->
            <div class="section cta">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="cta-info">

                                <p>We provide innovative solutions for sustainable progress. Our professional team works to increase productivity and cost effectiveness on the market</p>
                                <a href="/contact-us" title="" class="btn btn-cta">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- CLIENT -->
            <div class="section stat-client">

                <div class="container">

                    <div class="row">

                        <div class="col-sm-12 col-md-12">
                            <div class="client-img">
                                <a href="#"><img src="images/clientlogo.jpg" alt="" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- FOOTER SECTION -->
            <%- include footer.ejs %>


            <!-- JS VENDOR -->
            <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
            <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/vendor/jquery.superslides.js"></script>
            <script type="text/javascript" src="/js/vendor/owl.carousel.js"></script>
            <script type="text/javascript" src="/js/vendor/bootstrap-hover-dropdown.min.js"></script>
            <script type="text/javascript" src="/js/vendor/jquery.magnific-popup.min.js"></script>
            <script type="text/javascript" src="/js/vendor/easings.js"></script>
            <script type="text/javascript" src="/js/vendor/isotope.pkgd.min.js"></script>

            <!-- sendmail -->
            <script type="text/javascript" src="/js/vendor/validator.min.js"></script>
            <script type="text/javascript" src="/js/vendor/form-scripts.js"></script>



            <script type="text/javascript" src="/js/script.js"></script>
            <script type="text/javascript" src="/js/typed.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {

                    Typed.new("#typed", {
                        stringsElement: document.getElementById('typed-strings'),
                        typeSpeed: 30,
                        backDelay: 500,
                        loop: false,
                contentType: 'html', // or text
                // defaults to null for infinite loop
                loopCount: null,
                callback: function() {
                    foo();
                },
                resetCallback: function() {
                    newTyped();
                }
            });

                    var resetElement = document.querySelector('.reset');
                    if (resetElement) {
                        resetElement.addEventListener('click', function() {
                            document.getElementById('typed')._typed.reset();
                        });
                    }

                });


                var highestCol = Math.max($('#element1').height(), $('#element2').height(), $('#element3').height());
                $('.equalbox').height(highestCol);

            </script>

        </body>
        </html>
