<!DOCTYPE html>
<html lang="en">



<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - Industrial Civil</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us">ABOUT US</a>
								 
							</li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
						<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page" style="background: rgba(0, 0, 0, 0.26);">Industrial Civil</div>
					<ol class="breadcrumb" style="background: rgba(0, 0, 0, 0.26);">
						<li><a>Services</a></li>
						<li class="active">Building & Civil Infrastructure Business Unit</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="section why overlap">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-md-push-8">

					<div class="widget categories">
						<ul class="category-nav">
							<li><a href="Electro-mechanical.html">Electro-mechanical</a></li>
							<li class="active"><a href="#">Industrial Civil</a></li>
							<li><a href="Reticulation Networks.html">Reticulation Networks</a></li>
							<li><a href="Wastewater Treatment.html">Wastewater Treatment</a></li>
							<li><a href="Pumping Station.html">Pumping Stations</a></li>
							<li><a href="Reservoirs and Tanks.html">Reservoirs and Tanks</a></li>
						</ul>
					</div>

					<div class="widget contact-info-sidebar">
						<div class="widget-title">
							Contact Info
						</div>
						<ul class="list-info">
							<li>
								<div class="info-icon">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="info-text">6th Floor, Al Mana Plaza, Qatari Bin Fujaah St, Bin Mahmoud . PO Box 7098, Doha Qatar</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">+974 4419 0333</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-fax"></span>
								</div>
								<div class="info-text">+974 4441 8249</div>
							</li>
							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Info@Petroserv-limited.com</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-sm-8 col-md-8 col-md-pull-4">
					<div class="single-page">
						<img src="images/petroserv5.jpg" alt="Industrial Civil" class="img-responsive">
						<div class="margin-bottom-30"></div>
						<h2 class="section-heading">
							Industrial Civil
						</h2>
						<p>With its origins in the Oil and Gas business, almost all of PETROSERV's business systems have been developed to ensure the consistent delivery of successful projects in this precise and demanding environment.
						Accordingly, PETROSERV was particularly well positioned in the market to expand into Industrial Civil.
						</p>
						<p>Our primary focus in this market sector is the industrial development of green and brown field sites within Qatar's Industrial Cities.
						</p>
						<p>PETROSERV have the knowledge, experience and ability to compete in these markets where the customer is more demanding and better understands the benefits of higher quality build and safety standards.
						</p>
						<p>PETROSERV has undertaken a number of prestigious projects either on its own, or as a partner to some of the most reputable international construction companies.
						</p>

					</div>
				</div>

			</div>
		</div>
	</div>



	
	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>

	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 

	<script type="text/javascript" src="js/script.js"></script>

</body>



</html>
