<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - Building & Civil Infrastructure Business Unit</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>
	<style type="text/css">
		#listproject li{ display:none;
}
#loadMore {
    color:#041e42;
    cursor:pointer;
    text-align: center;
}
#loadMore:hover {
    color:red;
}
	</style>

</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="dropdown">
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us">ABOUT US</a>
								 
							</li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
								<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
									<li><a href="#"> Building & Civil Infrastructure Business Unit</a>
									</li>
									
									<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li>
								<a href="/projects-gallery">PROJECTS GALLERY</a>
							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page"> Building & Civil Infrastructure Business Unit</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="section why overlap">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-md-push-8">
					<div class="widget categories">
						<ul class="category-nav">
						<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit</a></li>
						<li class="active"><a href="#">Building & Civil Infrastructure Business Unit</a></li>
							<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit</a></li>
							
							
						</ul>
					</div>
					<div class="widget download">
						<a href="images/brochure/brochure.pdf" target="_blank" class="btn btn-secondary btn-block btn-sidebar"><span class="fa  fa-file-pdf-o"></span> Company Brochure</a>
					</div>
					<div class="widget contact-info-sidebar">
						<div class="widget-title" style="margin-bottom: 17px;">
							Contact Info
						</div>
						<h2 class="section-heading" style=" font-size: 21px; padding-bottom: 0px;">
							Wissam Rachad Chehab
						</h2>
						<h5 style="margin-top: -20px;">Divisional Manager - Building & Civil Infrastructure Business Unit </h5>
						<ul class="list-info">

							<li>
								<div class="info-icon">
									<span class="fa fa-phone"></span>
								</div>
								<div class="info-text">(+974) 4419 0306</div>
							</li>

							<li>
								<div class="info-icon">
									<span class="fa fa-envelope"></span>
								</div>
								<div class="info-text">Wissam.Chehab@petroserv-limited.com</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-sm-8 col-md-8 col-md-pull-4">
					<div class="single-page">
						<img src="images/Building & Civil Infrastructure Business Unit2.jpg" alt="Building & Civil Infrastructure Business Unit" class="img-responsive">

						<div class="margin-bottom-30"></div>
						<h2 class="section-heading">
							Building
						</h2>
						<p>
							The Petroserv Building Business Unit has been successfully executing low rise building construction projects in Qatar for more than 10 years. These projects range from greenfield developments to inner city refurbishments, from standard tender contracts
							to design and build type contracts.
						</p>

						<p>
							Our experience and successful track record gives us unique insights into the business challenges faced in any property development and ensures our enviable record for repeal business.
						</p>

						<p>
							Our multidisciplinary construction service offering to the building sector is extended by our ownership of businesses in the MEP and Design of Fit-Out markets.
						</p>


					</div>
					<div class="single-page">

						<div class="margin-bottom-70"></div>
						<h2 class="section-heading">
							Civil Infrastructure
						</h2>
						<p>Petroserv’s Infrastructure Business Unit’s experience in this sector dates back to before 2004 and spans projects within Water, Sanitation, Pipelines, Desalination, deep well drilling, enabling works, bulk earthworks, Electrical Distribution networks
							and Roads.
						</p>

						<p>
							Petroserv has successfully executed well over 200km of pipe-laying of assorted sizes and classes in Qatar. It has successfully completed number of sewage plant upgrades (standards and design build contract types), refurbishment of numerous pumping stations
							and the design and build of a vacuum sewer network.
						</p>

						<p>
							Over the year this Business Unit has developed into one of the Qatar Authorities trusted partners for infrastructure development and refurbishment.
						</p>
<div style="text-align:center">
                       <iframe width="100%" height="380px"                     
                            src="https://www.youtube.com/embed/IA-b42LxHzI" allowfullscreen>
                        </iframe>
                    </div>
						<div class="margin-bottom-70"></div>
						<h2 class="section-heading">
							Our projects
						</h2>
						<ul id="listproject">
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/MM-6414-PHCC-HQ" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">MM 6414 – PHCC HQ - INTERIOR, FIT-OUT, FURNITURE, FITTINGS, EQUIPMENT AND SIGNAGE</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/CONSTRUCTION-OF-ADDITIONAL-CAFETERIAS-07-DEC-2014" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF ADDITIONAL CAFETERIAS IN 8 SCHOOLS AROUND DOHA AND VILLAGES</a>
								</div>
							</li>
							
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/CONSTRUCTION-OF-ADDITIONAL-CAFETERIAS-15-OCT-2014" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF ADDITIONAL CAFETERIAS IN 8 SCHOOLS AROUND DOHA AND VILLAGES</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/PHCC-GTC-30-2014" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">PHCC/GTC/30/2014 – CONSTRUCTION, COMPLETION, DELIVERY AND MAINTENANCE OF THE EXTENSION BUILDING WITHIN THE LIMITS OF WEST BAY HEALTH</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/WORK-CONSTRUCTION-OFFICE-BUILDING-WWTP-FACILITY-HIA" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">WORK-CONSTRUCTION-OFFICE BUILDING-WWTP FACILITY-HIA</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/HAZARDOUS-MATERIAL" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">DESIGN, INSTALL SHADE FOR HAZARDOUS MATERIAL STORAGE AREA AT QAFAC PLANT SITE, MESAIEED</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/ISOLA-DANA-SEWERAGE-NETWORK-UPGRADE" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">ISOLA DANA SEWERAGE NETWORK UPGRADE, CONSTRUCTION OF SEWERAGE PUMPING STATION</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/DRAINAGE-SYSTEM-IN-MEBAIREEK-AREA" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">DRAINAGE SYSTEM IN MEBAIREEK AREA – SR_HS_016 (FPS-09)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/AL-MURRAH-PHASE-II" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF SURFACE WATER DRAINAGE  SYSTEM IN AL MURRAH PHASE II – SR_HS_010 (FPS 21)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/AL-RAYAN-MUNICIPALITY" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF SURFACE WATER DRAINAGE SYSTEM IN AL RAYAN MUNICIPALITY – SR_HS_007      (FPS 17)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/UMM-SALAL-ARAE" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF SURFACE WATER DRAINAGE SYSTEM IN UMM SALAL ARAE – SR_HS_006 (FPS 15)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/MUAITHER-SOUTH-AREA" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF SURFACE WATER DRAINAGE  SYSTEM IN MUAITHER SOUTH AREA – SR_HS_005 (FPS 10)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/FLOODING-PREVENTION-SCHEME-AT-SEVEN-MAIN-INTERSECTIONS" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">FLOODING PREVENTION SCHEME AT SEVEN MAIN INTERSECTIONS – PACKAGE 1 – SR_HS_002 (FPS 05)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/DOHA-MUNICIPALITY-AREA" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">CONSTRUCTION OF SURFACE WATER DRAINAGE  SYSTEM DOHA MUNICIPALITY AREA – SR_HS_003 (FPS 16)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/SPECIALIST-CLINICAL-CENTER-FOR-DENTISTRY-DERMATOLOGY-AND-DIABETES-SERVICES" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">SPECIALIST CLINICAL CENTER FOR DENTISTRY, DERMATOLOGY & DIABETES SERVICES</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/ABU-HAMOUR-AREA-DRAINAGE" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">SURFACE WATER SCHEMES ABU HAMOUR AREA DRAINAGE PHASE 4 CP 566</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/CENTRAL-TRAINING-CAMP-DEVELOPMENT-AT-SAILIYAH" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">WATER AND DRAINAGE RELATED INFRASTRUCTURE SERVICES FOR CENTRAL TRAINING CAMP DEVELOPMENT AT SAILIYAH (F-303-01)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/DOHA-AND-RAYYAN-SEWERAGE-SCHEMES-AL-AZIZIA-AREA" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">DOHA AND RAYYAN SEWERAGE SCHEMES AL AZIZIA AREA DRAINAGE & OUTFALL - CP 693</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/Treated-Sewage-Effluent-Pipeline" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">GC08114600 – Construction of Treated Sewage Effluent (TSE) Pipeline from Sewage Treatment Plant (STP) to Dukhan Township</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/WATER-PIPELINE-FROM-KM-METERING-CHAMBER-TO-JABEL-TANKS-IN-DUKHAN-TOWNSHIP" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">EPIC FOR WATER PIPELINE FROM KM METERING CHAMBER TO JABEL TANKS IN DUKHAN TOWNSHIP</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/AIN-KHALID-AREA-GROUNDWATER" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">EXTENSION TO AIN KHALID AREA GROUNDWATER LOWERING SYSTEM CP 626/1B </a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/REFURBISHMENT-AND-UPGRADING-OF-VARIOUS-PUMPING-STATIONS" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">REFURBISHMENT AND UPGRADING OF VARIOUS PUMPING STATIONS – PHASE 8 – CP 729/2</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/UPGRADING-OF-UMM-SLAL-WATER-STATION" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">UPGRADING OF UMM SLAL WATER STATION  GTC 303/2009</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/INDUSTRIAL-AREA-SEWAGE-TREATMENT-FACILITY" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">SECOND PHASE EXPANSION OF INDUSTRIAL AREA SEWAGE TREATMENT FACILITY (STF) CP 737/1</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/DEVELOPMENT-OF-BARZAN-CAMP" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">DEVELOPMENT OF BARZAN CAMP  PHASE -II PACKAGE V - INFRASTRUCTURE</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/AL-KHOR-SEWERAGE" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">AL KHOR SEWERAGE EXTENSION TO AL KHOR SEWAGE TREATMENT WORKS (STW) PHASE 2 – CP 517/1</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/MUAITHER-AREA-SEWAGE" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">MUAITHER AREA SEWAGE – CP773/1 (DW050-PACKAGE 1)</a>
								</div>
							</li>

							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/PUMPING-STATION" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">PUMPING STATION NO. 2 AT SALWA INDUSTRIAL RPS</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/DEMOLITION-AND-UTILITIES-WORKS" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">DEMOLITION AND UTILITIES WORKS ALONG ‘A’ RING ROAD</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/REFURBISHMENT-AND-UPGRADE-OF-VARIOUS-PUMPING-STATION" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">REFURBISHMENT & UPGRADE OF VARIOUS PUMPING STATION  - CP770</a>
								</div>
							</li>
							<li class="col-sm-12 col-md-12">
								<div class="widget download">
									<a href="/QPMC-CEMENT-TERMINAL-AT-MESIAEED-GABBRO-BERTH-EXTERNAL-WORK" class="btn btn-secondary btn-block btn-sidebar" style="    white-space: inherit;">QPMC CEMENT TERMINAL AT MESIAEED GABBRO BERTH EXTERNAL WORK</a>
								</div>
							</li>
							
							

						</ul>
						<h4 id="loadMore">Load more</h4>


					</div>

				</div>


			</div>
<!--			<div class="row grid-services">
				<div class="col-sm-8 col-md-8 section project">
					<div class="col-sm-2 col-md-4" style="margin-top: 29px;">
						<div class="box-image-4">
							<a href="Electro-mechanical.html" title="Electro-mechanical">
								<div class="media">
									<img src="images/electromech.jpg" alt="Electro-mechanical" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Electro-mechanical</h4>

									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-4" style="margin-top: 29px;">
						<div class="box-image-4">
							<a href="Industrial Civil.html" title="Industrial Civil">
								<div class="media">
									<img src="images/petroserv5.jpg" alt="Industrial Civil" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Industrial Civil</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-4" style="margin-top: 29px;">
						<div class="box-image-4">
							<a href="Reticulation Networks.html" title="Reticulation Networks">
								<div class="media">
									<img src="images/projects/project5.png" alt="Reticulation Networks" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Reticulation Networks</h4>

									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-8 section project">
					<div class="col-sm-2 col-md-4">
						<div class="box-image-4">
							<a href="Wastewater Treatment.html" title="Wastewater Treatment">
								<div class="media">
									<img src="images/projects/project2.png" alt="Wastewater Treatment" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Wastewater Treatment</h4>

									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-4">
						<div class="box-image-4">
							<a href="Pumping Station.html" title="Pumping Stations">
								<div class="media">
									<img src="images/projects/project7.png" alt="Pumping Stations" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Pumping Stations</h4>

									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-4">
						<div class="box-image-4">
							<a href="Reservoirs and Tanks.html" title="Reservoirs and Tanks">
								<div class="media">
									<img src="images/reservoirnew.jpg" alt="Reservoirs and Tanks" class="img-responsive">
								</div>
								<div class="body">
									<div class="content">
										<h4 class="title">Reservoirs and Tanks</h4>

									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>



	<!-- FOOTER SECTION -->
	<%- include footer.ejs %>

	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 

	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
    // Load the first 3 list items from another HTML file
    //$('#myList').load('externalList.html li:lt(3)');
    var x = 5;
    $('#listproject li:lt(5)').show();
    $('#loadMore').click(function () {
    	x = x + 5;
    	$('#listproject li:lt('+x+')').show();
    });
});
</script>

</body>

</html>
