<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Petroserv - Projects gallery</title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<meta name="author" content=" ">

	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	 

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="css/sliding-carousel.css" />


	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/viewer.min.css">

	<script type="text/javascript" src="js/vendor/modernizr.min.js"></script>
	<style type="text/css">
		#sliderx {
			list-style: none;
			padding: 0px
		}
		
		#sliderx img {
			width: 200px;
			height: 125px;
			margin: 0px;
			display: inline-block
		}
		
		#sliderx li {
			width: 210px
		}
		
		.bx-window {
			width: inherit !important;
		}
		
		.bx-wrapper {
			width: inherit !important;
			}
	</style>
</head>

<body>

	<!-- Load page -->
	<div class="animationload">
		 
		<div class="spinner">
			<img id="logo-spinner" src="images/logo-load.png"></img>
		</div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#top" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<div class="header">
		<!-- HEADER SECTION -->
        <%- include header.ejs %>

		<!-- NAVBAR SECTION -->
		<div id="#top" class="navbar navbar-main">

			<div class="container container-nav">
				<div class="rowe">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<a class="navbar-brand" href="/">
						<img style="  " src="images/Logo.png" alt="" />
					</a>


					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="/">HOME</a>
							</li>
							<li>
								 
								<a href="/about-us">ABOUT US</a>
								 
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/oil-and-gas-business-unit">Oil & Gas Business Unit </a></li>
<li><a href="/building-and-civil-infrastructure-business-unit"> Building & Civil Infrastructure Business Unit</a></li>
<li><a href="/MEP-facility-management-business-unit">MEP & Facility Management Business Unit </a></li>
								</ul>
							</li>
							<li>
								<a href="/environment">ENVIRONMENT </a>
							</li>
							<li>
								<a href="/clients">CLIENTS </a>
							</li>
							<li class="dropdown active">
								<a href="#">PROJECTS GALLERY</a>

							</li>
							<li>
								<a href="/careers">CAREERS</a>

							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>

						</ul>

						 

					</nav>

				</div>
			</div>
		</div>

	</div>

	<!-- BANNER -->
	<div class="section banner-page about">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page">Projects gallery</div>
					 
				</div>
			</div>
		</div>
	</div>

	<!-- ABOUT FEATURE -->
	<div class="section feature overlap">
		<div class="container">
			<div class="col-sm-12 col-md-12">
				<h4 class="section-heading">PROJECTS PHOTO GALLERY</h4>


				<div class="row">
					<div class="col-sm-12 col-md-12">
						<nav class="categories">
							<ul class="portfolio_filter dark">
								<li><a href="#" class="active" data-filter="*">ALL</a></li>
								<li><a href="#" data-filter=".infrastructure, .building">BUILDING & CIVIL INFRASTRUCTURE</a></li>
								<li><a href="#" data-filter=".oil">OIL & GAS</a></li>
								
								<li><a href="#" data-filter=".plant">PLANT & EQUIPMENT</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="row grid-services" id="galley">
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/1.jpg" src="images/75*75/infrastructure/1.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/2.jpg" src="images/75*75/infrastructure/2.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/3.jpg" src="images/75*75/infrastructure/3.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/4.jpg" src="images/75*75/infrastructure/4.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/5.jpg" src="images/75*75/infrastructure/5.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/6.jpg" src="images/75*75/infrastructure/6.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/7.jpg" src="images/75*75/infrastructure/7.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/8.jpg" src="images/75*75/infrastructure/8.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/9.jpg" src="images/75*75/infrastructure/9.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/10.jpg" src="images/75*75/infrastructure/10.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/11.jpg" src="images/75*75/infrastructure/11.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/12.jpg" src="images/75*75/infrastructure/12.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/13.jpg" src="images/75*75/infrastructure/13.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/14.jpg" src="images/75*75/infrastructure/14.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/15.jpg" src="images/75*75/infrastructure/15.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/16.jpg" src="images/75*75/infrastructure/16.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/17.jpg" src="images/75*75/infrastructure/17.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/18.jpg" src="images/75*75/infrastructure/18.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/19.jpg" src="images/75*75/infrastructure/19.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/20.jpg" src="images/75*75/infrastructure/20.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/21.jpg" src="images/75*75/infrastructure/21.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/22.jpg" src="images/75*75/infrastructure/22.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/23.jpg" src="images/75*75/infrastructure/23.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/24.jpg" src="images/75*75/infrastructure/24.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/25.jpg" src="images/75*75/infrastructure/25.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/26.jpg" src="images/75*75/infrastructure/26.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/27.jpg" src="images/75*75/infrastructure/27.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/28.jpg" src="images/75*75/infrastructure/28.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/29.jpg" src="images/75*75/infrastructure/29.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/30.jpg" src="images/75*75/infrastructure/30.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/31.jpg" src="images/75*75/infrastructure/31.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/32.jpg" src="images/75*75/infrastructure/32.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/33.jpg" src="images/75*75/infrastructure/33.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/34.jpg" src="images/75*75/infrastructure/34.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/35.jpg" src="images/75*75/infrastructure/35.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 infrastructure">
						<div class="box-image-4">
							<a title="Infrastructure">
								<div class="media">
									<img data-original="images/gallery-projects/infrastructure/36.jpg" src="images/75*75/infrastructure/36.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/1.jpg" src="images/75*75/oil&gas/1.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/2.jpg" src="images/75*75/oil&gas/2.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/3.jpg" src="images/75*75/oil&gas/3.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/4.jpg" src="images/75*75/oil&gas/4.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/5.jpg" src="images/75*75/oil&gas/5.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/6.jpg" src="images/75*75/oil&gas/6.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/7.jpg" src="images/75*75/oil&gas/7.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/8.jpg" src="images/75*75/oil&gas/8.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/9.jpg" src="images/75*75/oil&gas/9.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/10.jpg" src="images/75*75/oil&gas/10.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/11.jpg" src="images/75*75/oil&gas/11.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/12.jpg" src="images/75*75/oil&gas/12.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/13.jpg" src="images/75*75/oil&gas/13.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/14.jpg" src="images/75*75/oil&gas/14.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/15.jpg" src="images/75*75/oil&gas/15.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/16.jpg" src="images/75*75/oil&gas/16.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/17.jpg" src="images/75*75/oil&gas/17.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/18.jpg" src="images/75*75/oil&gas/18.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/19.jpg" src="images/75*75/oil&gas/19.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 oil">
						<div class="box-image-4">
							<a title="Oil and gas">
								<div class="media">
									<img data-original="images/gallery-projects/oil&gas/20.jpg" src="images/75*75/oil&gas/20.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/1.jpg" src="images/75*75/building/1.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/2.jpg" src="images/75*75/building/2.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/3.jpg" src="images/75*75/building/3.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/4.jpg" src="images/75*75/building/4.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/5.jpg" src="images/75*75/building/5.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/6.jpg" src="images/75*75/building/6.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/7.jpg" src="images/75*75/building/7.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/8.jpg" src="images/75*75/building/8.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/9.jpg" src="images/75*75/building/9.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/10.jpg" src="images/75*75/building/10.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/11.jpg" src="images/75*75/building/11.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/12.jpg" src="images/75*75/building/12.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/13.jpg" src="images/75*75/building/13.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/14.jpg" src="images/75*75/building/14.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/15.jpg" src="images/75*75/building/15.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/16.jpg" src="images/75*75/building/16.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 building">
						<div class="box-image-4">
							<a title="Building projects">
								<div class="media">
									<img data-original="images/gallery-projects/building/17.jpg" src="images/75*75/building/17.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/1.jpg" src="images/75*75/petroserv plant & equipment/1.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/2.jpg" src="images/75*75/petroserv plant & equipment/2.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/3.jpg" src="images/75*75/petroserv plant & equipment/3.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/4.jpg" src="images/75*75/petroserv plant & equipment/4.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/5.jpg" src="images/75*75/petroserv plant & equipment/5.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/6.jpg" src="images/75*75/petroserv plant & equipment/6.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/7.jpg" src="images/75*75/petroserv plant & equipment/7.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/8.jpg" src="images/75*75/petroserv plant & equipment/8.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/9.jpg" src="images/75*75/petroserv plant & equipment/9.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/10.jpg" src="images/75*75/petroserv plant & equipment/10.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/11.jpg" src="images/75*75/petroserv plant & equipment/11.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/12.jpg" src="images/75*75/petroserv plant & equipment/12.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/13.jpg" src="images/75*75/petroserv plant & equipment/13.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/14.jpg" src="images/75*75/petroserv plant & equipment/14.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/15.jpg" src="images/75*75/petroserv plant & equipment/15.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/16.jpg" src="images/75*75/petroserv plant & equipment/16.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/17.jpg" src="images/75*75/petroserv plant & equipment/17.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/18.jpg" src="images/75*75/petroserv plant & equipment/18.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 plant">
						<div class="box-image-4">
							<a title="Petroserv Plant and Equipment">
								<div class="media">
									<img data-original="images/gallery-projects/petroserv plant & equipment/19.jpg" src="images/75*75/petroserv plant & equipment/19.jpg" alt="" class="img-responsive">
								</div>
							</a>
						</div>
					</div>


				</div>

				<div class="clearfix"></div>
				<div class="margin-bottom-50"></div>
				<h4 class="section-heading">Projects</h4>

				<div class="panel-group panel-faq" id="accordion" role="tablist" aria-multiselectable="true">
					<!-- Public works authority -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading1">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="">
								  Public works authority
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="true">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>

											<p>- Emergency Work to Rehabilitate 30 Nos. of Foul Sewer Manholes at Westbay Area</p>
											<p>- Demolition and Utilities Works Along “A” Ring Road</p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- New Dental and Dermatology Department – Enabling Works</p>
											<p>- Construction of Additional Cafeterias for 8 Nos. Schools Around Doha and Villages</p>
											<p>- Construction of Additional Classrooms for 3 Nos. Schools Around Doha and Villages</p>
											<p>- Muaither Area Sewerage CP 773/1 Package 01</p>

										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2012</div>

											<p>- Second Phase Expansion of Industrial Area Sewage Treatment Facility (STF)</p>

										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2011</div>
											<p>- Refurbishing and Upgrading Works for Various Pumping Stations – Phase 8</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Kahramaa -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading2">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
								  Kahramaa
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>

											<p>- Pumping Station No. 2 at Salwa Industrial RPS & Associated Pipelines </p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2010</div>

											<p>- Upgrading of Umm Salal Water Station.....<a href="/Sheet-Umm-Slal">more..</a></p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- Qatar Petroleum -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading3">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
								  Qatar Petroleum
								</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>
											<p>- EPIC for Diesel Dispensing/Bunkering and Associated Facilities at Halul Island</p>

										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Tanks (T5, T6 & 6833-T-01) Rehabilitation Works Within QP Gas Operations, Mesaieed</p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2012</div>

											<p>- EPIC For Mitigation of Burn Pits in Dukhan ....<a href="/Sheet-Burn-Pits">more..</a></p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2011</div>

											<p>- Call Off Contract for Repair of Crude Oil Tank at Halul</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- Qatar Airways -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading4">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
								  Qatar Airways
								</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Maintenance Services – Building and Facilities - ITC</p>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- QCHEM -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading5">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
								  QCHEM
								</a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Replacement of Corroded Line in BOG at Q-Chem</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- QAFCO -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading6">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
								  QAFCO
								</a>
							</h4>
						</div>
						<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>

											<p>- Removal of Existing Freezer, Chiller and Design, Procurement, Supply, Installation & Commissioning of New Refrigeration System for Chiller, Freezer & Garbage Room at Al Maha Club</p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Engineering, Procurement, Supply, Performance Testing, Site Testing, Installation & Commissioning of HVAC Package Unit with Ducting for UPS Room at Building 1</p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2012</div>

											<p>- Operation and Maintenance of Air-conditioning, Refrigeration and Domestic Water Pumps in QAFCO Houses and Clubs at Mesaieed, Wakrah and Doha, Contract for 3 Years + 2 Years Extension Option</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- QASCO -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading7">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
								  QASCO
								</a>
							</h4>
						</div>
						<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>

											<p>- Design, Manufacturing, Supply, Installation, Testing & Commissioning of Electrical Feeder for New Air Compressor at DR2</p>
										</div>
									</div>
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Upgradation of HSFBM Cooling Water System ar RM-1</p>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- QALCO -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading8">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
								  QALCO
								</a>
							</h4>
						</div>
						<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2014</div>

											<p>- Civil Works for Substation at QALCO</p>
											<p>- Fabrication, Erection and Commissioning of 14 Nos. Storage Tanks and Tank Farm Foundation Work</p>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					<!-- PHCC -->
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading9">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
								  PHCC
								</a>
							</h4>
						</div>
						<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="history-2">
									<div class="timeline__item">

										<div class="aksen"></div>
										<div class="text">
											<div class="year" style="font-size: 2rem;     margin-top: -1px; margin-bottom: 11px;">2015</div>

											<p>- Construction, Supply, Installation, Testing & Commissioning Turnkey Project for Fit Out Interior, Furniture, Equipment and Signage for New PHCC Headquarters</p>
											<p>- Construction, Testing & Commissioning (Turnkey Project) of Extension Building for West Bay Health Center</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

<!--				<div class="clearfix"></div>
				<div class="margin-bottom-50"></div>
				<h4 class="section-heading">Completed projects</h4>
				<ul id="sliderx">
					<li>
						<img src="images/completed-projects/ashgal.jpg">
					</li>
					<li>
						<img src="images/completed-projects/kahramaa.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qafco.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qapco.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qatargas.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qatarolympics.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qatarpetrol.jpg">
					</li>
					<li>
						<img src="images/completed-projects/qatarsteel.jpg">
					</li>
				</ul>-->


			</div>
		</div>
	</div>



	<!-- FOOTER SECTION -->
<%- include footer.ejs %>


	<!-- JS VENDOR -->
	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/vendor/owl.carousel.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap-hover-dropdown.min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/vendor/easings.js"></script>
	<script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>

	<!-- sendmail -->
	<script type="text/javascript" src="js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="js/vendor/form-scripts.js"></script>

	 

	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/jquery.bxSlider.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sliderx').bxSlider({
				ticker: true,
				tickerSpeed: 2000,
				tickerHover: true
			});
		});
	</script>
	<script type="text/javascript" src="js/viewer.min.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function() {
			var galley = document.getElementById('galley');
			var viewer;


			viewer = new Viewer(galley, {
				url: 'data-original',
				movable: false,
				navbar: false,
				title: false,

				tooltip: false,
				zoomable: false,
			});


		});
	</script>



</body>



</html>
